
<div class="col-md-12">
    <h2>Kayıt Sözleşme Güncellemesi</h2>
    <p>Sayın @Model.UserName, Kayıt sözleşmemizde güncelleme yapılmıştır. Aşağıda bulunan yeni sözleşmemizi okuyup onaylamanız gerekmektedir.</p>
    <hr />
    <p>{{SingupContractMessage}}</p>
    <br />
    <input type="submit" class="btn btn-block" ng-click="SingUpContractUpdate()" value="Onaylıyorum" id="btnSingUpContractUpdate" />
</div>