
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sherlock Strategy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/AngularJs_Site.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            var form = document.getElementById('theForm');
            form.button.onclick = function () {
                for (var i = 0; i < form.elements.length; i++) {
                    if (form.elements[i].value === '' && form.elements[i].hasAttribute('required')) {
                        return false;
                    }
                }
                form.submit();
            };
        };

    </script>
</head>
<body ng-controller="MainController">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6 text-center">
                    <h2>Kayıt Ol</h2>
                    <form id="theForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-6">Kullanıcı Adı: </label>
                            <div class="col-md-6"><input type="text" id="UserName" class="form-control" ng-model="SuUserName" placeholder="Kullanıcı Adı" required /></div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">Şifre: </label>
                            <div class="col-md-6">
                                <input type="password" id="Password" class="form-control" ng-model="SuPassword" placeholder="Şifre" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">Şifre Tekrar: </label>
                            <div class="col-md-6">
                                <input type="password" id="PasswordConfirm" class="form-control" ng-model="SuPasswordConfirm" placeholder="Şifre Tekrar" required /><span style="float:left; font-size:11px; color:#f00;">{{confirmalert}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">E-Posta Adresi: </label>
                            <div class="col-md-6">
                                <input type="email" id="EMail" class="form-control" ng-model="SuEMail" placeholder="E-Posta Adresi" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6"><a href="/SingupContract">Sözleşmeyi</a> Okudum, kabul ediyorum.</label>
                            <div class="col-md-6">
                                <input type="checkbox" id="ReadContract" ng-model="SuReadContract" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <input type="submit" class="btn btn-block" value="Kayıt Ol" ng-click="SingUpUser()" id="btnSingUp" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                {{singUpMessage}}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 text-center">
                    <h2>Giriş Yap</h2>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="text" id="UserName" class="form-control" ng-model="SiUserName" placeholder="Kullanıcı Adı" />
                        </div>
                        <div class="form-group">
                            <input type="password" id="Password" class="form-control" ng-model="SiPassword" placeholder="Şifre" />
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-block" value="Giriş Yap" ng-click="LoginUser()" id="btnLogin" />
                        </div>
                        {{Message}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <a href="/Iletisim">İletişim Formu</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
