
<div class="SingUp col-md-6">
    <h2>Kayıt Ol</h2>

    <input type="text" id="UserName" ng-model="UserName" />
    <input type="password" id="Password" ng-model="Password" />
    <input type="text" id="EMail" ng-model="EMail" />
    <input type="submit" value="Kayıt Ol" data-ng-click="SingUpUser()" id="btnSingUp" />
</div>
<div class="clearfix"></div>