{{GameName}}
<div class="xoxGameContent">
    <div class="xoxGameRow">
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
    </div>
    <div class="xoxGameRow">
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
    </div>
    <div class="xoxGameRow">
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
    </div>
    <div class="xoxGameRow">
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
    </div>
    <div class="xoxGameRow">
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
    </div>
    <div class="xoxGameRow">
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
    </div>
    <div class="xoxGameRow">
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
    </div>
    <div class="xoxGameRow">
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
    </div>
    <div class="xoxGameRow">
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
        <input type="submit" class="xoxCell" ng-click="fillCell()" name="cell" value="" />
    </div>
</div>