@model Models.Model.User
<!DOCTYPE html>

<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sherlock Strategy</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/AngularJs_Site.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body ng-controller="MainController">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Sherlock</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="#">Oyunlar</a></li>

                    @if (Model.Rol == 1)
                    {
                        <li><a href="/Kullanicilar">Kullanıcılar</a></li>
                        <li><a href="/Ayarlar">Ayarlar</a></li>
                    }
                    <li><a href="/Profil">Profil</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profil"><span style="float:left; margin-right:10px;">@Model.UserName</span><img src="~/images/profile.png" class="img-responsive" width="20" /></a></li>
                    <li><a href="" ng-click="LogoutUser()">Çıkış</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
