

    <h1>Kullanıcı Listesi.</h1>

<table class="table table-hover">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>E-Posta</th>
        <th>Durum</th>
        <th>İşlem</th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.UserName}}</td>
        <td>{{user.Email}}</td>
        <td>{{user.Status}}</td>
        <td><input type="submit" class="btn btn-default" value="Durum Değiştir" ng-click="ChangeStatu(user.Id,user.Status)" /> <input type="submit" class="btn btn-default" value="Sil" ng-click="DeleteUser(user.Id)" /> <input type="submit" class="btn btn-default" value="Mesaj Yaz" ng-click="modal.show()" id="btnWriteMessage" /> </td>
    </tr>
</table>

    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <button class="button button-icon ion-compose" ng-click="modal.show()">asdasd</button>
        </div>
    </ion-header-bar>

    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">New Contact</h1>
                <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">First Name</span>
                        <input ng-model="newUser.firstName" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Last Name</span>
                        <input ng-model="newUser.lastName" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input ng-model="newUser.email" type="text">
                    </label>
                    <button class="button button-full button-positive" ng-click="modal.hide()">Create</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>


@*
    //TODO:
    <div ng-controller="AppCtrl">

    <button class="button button-icon ion-compose" ng-click="modal.show()">Click</button>


    <script id="templates/modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">New Contact</h1>
                <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">First Name</span>
                        <input ng-model="newUser.firstName" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Last Name</span>
                        <input ng-model="newUser.lastName" type="text">
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Email</span>
                        <input ng-model="newUser.email" type="text">
                    </label>
                    <button class="button button-full button-positive" ng-click="modal.hide()">Create</button>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
</div>*@