
<div class="col-md-12">
    <h1>Oyunlar</h1>
    <table class="table table-hover">
        <tr>
            <td>Oyun Adı</td>
            <td>İşlem</td>
        </tr>
        <tr ng-repeat="game in GetGameList">
            <td>{{game.GameName}}</td>
            <td><input type="submit" class="btn btn-default" ng-click="GotoGame(game.Id)" value="Bilgisayara Karşı" /> <input type="submit" class="btn btn-default" value="Oyuncu Davet Et" /></td>
        </tr>
    </table>

</div>