
<div class="col-md-12">
    <h1>Devam Eden Oyunlar</h1>
    <table class="table table-hover">
        <tr>
            <td>Oyun Tipi</td>
            <td>Oyun Adı</td>
            <td>İşlem</td>
        </tr>
        <tr ng-repeat="game in GetOngoingGameList">
            <td>{{game.EncounterTypeName}}</td>
            <td>{{game.GameName}}</td>
            <td><input type="submit" class="btn btn-default" ng-click="GotoContinueGame(game.OngoingGameId)" value="Devam Et" /></td>
        </tr>
    </table>
</div>