
<div class="col-md-12">
    <h2>İletişim Formu Mesaj Listesi</h2>
    <table class="table table-hover">
        <tr>
            <th>Konu</th>
            <th>Durum</th>
            <th>İşlem</th>
        </tr>
        <tr ng-repeat="message in ContactFormMessages">
            <td>{{message.Subject}}</td>
            <td ng-if="message.Status == true"><span class="text-success">Okunmuş</span></td>
            <td ng-if="message.Status == false"><span class="text-danger">Okunmamış</span></td>
            <td></td>
        </tr>
    </table>

</div>